@font-face {
    font-family: "Potta One";
    src: url("../assets/fonts/Potta_One/PottaOne-Regular.ttf")
}

body {
    padding: 5rem 10rem;
    background-image: url("../assets/images/background\ 3inARow.jpg");
    background-size: cover;
}

.wrapper {
    padding: 1rem;
    display: flex;
    width: 70%;
    flex-direction: column;
    border-radius: 50px;
}

.line {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cell,
.display {
    margin: 1rem 0rem;
    background-color: rgba(10, 10, 10, 0.7);
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
}

.display {
    width: 90%;
    height: 75px;
    font-size: 1.5rem;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 4.5rem;
    font-weight: bold;
}

.cell:hover {
    border: 3px solid blue;
    background-color: rgba(0, 0, 255, 0.5);
}

#reset {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 2rem;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    border: 5px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.8);
    color: whitesmoke;
    transition: transform 0.2s, color 0.1s;
}

#reset:hover {
    border: 5px solid red;
    color: red;
}

#reset:active {
    transform: scale(0.9);
}